Repository pixiv/charcoal, pull requests merged in 2024-04, with the labels that each got.

#507 docs: fix bloken link to storybook
  pages/pages/utilities/tailwind-config.md
Labels: patch

#497 chore: IconButton story
  packages/react/src/components/IconButton/__snapshots__/index.story.storyshot
  packages/react/src/components/IconButton/index.story.tsx
Labels: patch, image snapshots update

#498 chore: LoadingSpinner Story
  packages/react/src/components/LoadingSpinner/LoadingSpinnerIcon.story.tsx
  packages/react/src/components/LoadingSpinner/__snapshots__/index.story.storyshot
  packages/react/src/components/LoadingSpinner/index.story.tsx
Labels: patch, image snapshots update

#499 chore: Radio story
  packages/react/src/components/Radio/__snapshots__/index.story.storyshot
  packages/react/src/components/Radio/index.story.tsx
Labels: patch, image snapshots update

#500 chore: switch story
  packages/react/src/components/Switch/__snapshots__/index.story.storyshot
  packages/react/src/components/Switch/index.story.tsx
Labels: patch, image snapshots update

#510 Feat: Update Checkbox (v4)
  docs/src/pages/@charcoal-ui/react/Checkbox/apiData.tsx
  docs/src/pages/@charcoal-ui/react/Checkbox/index.page.tsx
  docs/src/pages/@charcoal-ui/react/Checkbox/sections.tsx
  docs/yarn.lock
  packages/react/src/components/Checkbox/__snapshots__/index.story.storyshot
  packages/react/src/components/Checkbox/index.css
  packages/react/src/components/Checkbox/index.story.tsx
  packages/react/src/components/Checkbox/index.tsx
  packages/react/src/components/CheckboxInput/__snapshots__/index.story.storyshot
  packages/react/src/components/CheckboxInput/index.css
  packages/react/src/components/CheckboxInput/index.story.tsx
  packages/react/src/components/CheckboxInput/index.tsx
Labels: major

#517 v4 でも VRT を実行するように
  .github/workflows/test-storybook.yml
Labels: patch, image snapshots update

#501 chore: TagItem Story
  packages/react/src/components/TagItem/__snapshots__/index.story.storyshot
  packages/react/src/components/TagItem/index.story.tsx
Labels: patch, image snapshots update

#505 chore: update-husky
  .husky/commit-msg
  .prettierignore
  package.json
  yarn.lock
Labels: patch, image snapshots update

#503 chore: TextArea Story
  packages/react/src/components/TextArea/TextArea.story.tsx
  packages/react/src/components/TextArea/__snapshots__/TextArea.story.storyshot
  packages/react/src/components/TextArea/index.tsx
Labels: patch, image snapshots update

#511 fix: skip build story and test dts
  packages/react-sandbox/tsconfig.build.json
  packages/react/tsconfig.build.json
Labels: patch

#504 chore: storybook-TextField
  packages/react/src/components/TextField/TextField.story.tsx
  packages/react/src/components/TextField/__snapshots__/TextField.story.storyshot
  packages/react/src/components/TextField/index.tsx
Labels: patch, image snapshots update

#508 feat: add import/no-extraneous-dependencies
  .eslintrc.js
  jest.setup.ts
  package.json
  packages/icons/package.json
  packages/icons/src/PixivIcon.story.tsx
  packages/react/package.json
  packages/react/src/components/DropdownSelector/Popover/index.tsx
  packages/react/src/components/Modal/index.tsx
  packages/react/src/core/CharcoalProvider.tsx
  packages/tailwind-config/src/_lib/TailwindBuild.ts
  packages/tailwind-config/src/_lib/compat.ts
  packages/tailwind-config/src/colors/toTailwindConfig.ts
  packages/tailwind-config/src/index.ts
  packages/tailwind-config/src/typography/plugin.ts
  packages/tailwind-config/src/util.ts
  yarn.lock
Labels: patch

#452 replac MultiSelect stories to CSF3
  packages/react/src/components/MultiSelect/__snapshots__/index.story.storyshot
  packages/react/src/components/MultiSelect/index.story.tsx
Labels: patch, image snapshots update

#509 chore(storybook): apply docs theming
  .storybook/docs-container.tsx
  .storybook/preview.js
Labels: patch

#506 upgrade storybook v8
  .eslintrc.js
  .storybook/docs-container.tsx
  .storybook/jest.config.mjs
  .storybook/main.js
  .storybook/preview.js
  .storybook/storybook.test.ts
  jest.setup.ts
  package.json
  packages/icons/package.json
  packages/icons/src/PixivIcon.story.tsx
  packages/react-sandbox/package.json
  packages/react-sandbox/src/components/Carousel/__snapshots__/index.story.storyshot
  packages/react-sandbox/src/components/Carousel/index.story.tsx
  packages/react-sandbox/src/components/CarouselButton/__snapshots__/index.story.storyshot
  packages/react-sandbox/src/components/CarouselButton/index.story.tsx
  packages/react-sandbox/src/components/Filter/__snapshots__/index.story.storyshot
  packages/react-sandbox/src/components/Filter/index.story.tsx
  packages/react-sandbox/src/components/HintText/__snapshots__/index.story.storyshot
  packages/react-sandbox/src/components/HintText/index.story.tsx
  packages/react-sandbox/src/components/Layout/__snapshots__/index.story.storyshot
  packages/react-sandbox/src/components/Layout/index.story.tsx
  packages/react-sandbox/src/components/MenuListItem/__snapshots__/index.story.storyshot
  packages/react-sandbox/src/components/MenuListItem/index.story.tsx
  packages/react-sandbox/src/components/Pager/__snapshots__/index.story.storyshot
  packages/react-sandbox/src/components/Pager/index.story.tsx
  packages/react-sandbox/src/components/SwitchCheckbox/__snapshots__/index.story.storyshot
  packages/react-sandbox/src/components/SwitchCheckbox/index.story.tsx
  packages/react-sandbox/src/components/TextEllipsis/__snapshots__/index.story.storyshot
  packages/react-sandbox/src/components/TextEllipsis/index.story.tsx
  packages/react-sandbox/src/components/WithIcon/__snapshots__/index.story.storyshot
  packages/react-sandbox/src/components/WithIcon/index.story.tsx
  packages/react/package.json
  packages/react/src/components/DropdownSelector/Popover/index.tsx
  packages/react/src/components/Modal/index.tsx
  packages/react/src/components/a11y.test.tsx
  packages/react/src/core/CharcoalProvider.tsx
  packages/tailwind-config/src/_lib/TailwindBuild.ts
  packages/tailwind-config/src/_lib/compat.ts
  packages/tailwind-config/src/colors/toTailwindConfig.ts
  packages/tailwind-config/src/index.ts
  packages/tailwind-config/src/typography/plugin.ts
  packages/tailwind-config/src/util.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: patch, image snapshots update
